errorLog.txt
*.so
*.so.0
*.dll
*.dll.config
*.dylib
*.pdb
*.exe
*.exe.config
*.swp
BuildIsFNA.txt
Celeste.Mod.mm.xml
Content/
Mods/
LogHistory/
FNA.xml
Celeste.xml
FileProxyStreamDummy.txt
MoltenVK_icd.json
everest-launch.txt
gamecontrollerdb.txt
log.txt
miniinstaller-log.txt
